.metadata
RemoteSystemsTempFiles
Debug
Release
obj
.out
.launch
.html
*.html
*.xml
/*.xml
*.txt
/*.txt
*.exe
*.hex
*.map
*.o
*.d
*.elf
*.settings
*~.nib
local.properties
.plugin
*.plugin
FreeRTOS_TAD_logs
MQX_RTOS_TAD_logs
/*.log
prod_ecu/Generated_code/
prod_ecu/Documentation/
/*.g_c
/*.g_x
prod_ecu/.prod_ecu.g_c
prod_ecu/.prod_ecu.g_x
/Project_Settings/Components_DEBUG
/.settings
.vscode/ipch
*.a
test/test
\.vscode/settings\.json

prod_ecu/SDK
